
<link href="pages/Login/Login.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="main">
    <div id="formContent">
        <div class="">
            <img src="https://www.pngkey.com/png/detail/367-3670153_user-login-gif-images-for-login.png" id="icon" alt="User Icon" />
        </div>
        <!-- Login Form -->
        <form>
            <input class="" id="userName" name="userName" ng-model="userNameGet"  placeholder="user name" type="text">
             <input type="password" id="password" ng-model="passwordGet" placeholder="Password" class="form-control">
            <input type="submit" class="fadeIn fourth" value="Log In"  ng-click="submitLogin()">
        </form>
    </div>
</div>