<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>


<div class="container">
    <div class="row">
        <h2>Places To See In Rome Before You Die</h2>
    </div>

    <div class="topnav">
        <form>
            <div class="search-container" style="float:left">
                <label>
                    <input type="text" placeholder="Search.." ng-model="searchName">
                </label>
                <button type="submit" ng-click="search()"><i class="">search</i></button>
            </div>
            <p>Sort Points By:
                <label>
                    <input type="radio" ng-click="sortRank($event)" value="rank" ng-model="checked">
                    Rank
                </label>
                <label>
                    <input type="radio" ng-click="sortCat($event)" value="category" ng-model="checked">
                    Categories
                </label><br/>
            </p>
        </form>
    </div>

    <p>{{searchName}}</p>

    <div class="paragraphs">
        <div class="row" ng-repeat="point in points">
            <div class="span4">
                <a class="randomImage" href="#!POI" ng-click="showPoint(point)">
                    <img style="float:left" ng-src="{{point.picture}}" alt=""/>
                </a>
                <a class="randomImage" href="#!POI" ng-click="showPoint(point)">
                    <div class="content-heading"><h3>{{point.name}}</h3></div>
                </a>
                <p>Rank: {{point.rank*5/100}}%</p>
                <p>Category: {{point.category}}</p>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>
</body>