<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body>


<div class="container">
    <div class="row">
        <h2>Your Favorite Points</h2>
    </div>

    <div class="topnav">
        <form>
            <p>Sort Points By:
                <label>
                    <input type="radio" ng-click="sortRank($event)" value="rank" ng-model="checked">
                    Rank
                </label>
                <label>
                    <input type="radio" ng-click="sortCat($event)" value="category" ng-model="checked">
                    Categories
                </label><br/>
            </p>
        </form>
    </div>

    <div class="paragraphs">
        <div class="row" ng-repeat="point in points">
            <div class="span4">
                <div style="float:left">
                    <button ng-show="loggedIn && isFavorite(point)" ng-click="removeFromFavorites(point)">
                        <span class="glyphicon glyphicon-heart-empty"></span>
                    </button>
                    <button ng-hide="!loggedIn || isFavorite(point)" ng-click="addToFavorites(point)">
                        <span class="glyphicon glyphicon-heart"></span>
                    </button>
                </div>
                <a class="randomImage" href="#!POI" ng-click="showPoint(point)">
                    <img style="float:left" ng-src="{{point.picture}}" alt=""/>
                </a>
                <a class="randomImage" href="#!POI" ng-click="showPoint(point)">
                    <div class="content-heading"><h3>{{point.name}}</h3></div>
                </a>
                <p>{{point.desc}}</p>
                <p>Rank: {{point.rank*5/100}}%</p>
                <p>Category: {{point.category}}</p>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
    <label>Save Your Points In This Order For Further Use By Clicking "Save"</label>
    <br>
    <button type="button" class="btn btn-default" ng-click="savePoints()">
        Save
    </button>
</div>
</body>