<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="container">
    <div>
        <h1> Popular Points </h1> <br><br><br><br>
    </div>
    <div class="row">
        <h3>
            point: {{FirstPopularpoint.name}}
        </h3>
        <p>
            Description: {{FirstPopularpoint.desc}} <br>
            Rank:{{FirstPopularpoint.rank}} <br>
            Num Of Viewers:{{FirstPopularpoint.numOfViewers}}<br>
            Category:{{FirstPopularpoint.category}}<br>

        </p>
        <img alt="" class="pic" src={{FirstPopularpoint.picture}} style="width:300px;height:200px;position:relative;left:20%">
        <button ng-show="loggedIn && isFavorite(FirstPopularpoint)" ng-click="removeFromFavorites(FirstPopularpoint)" style="float: left">
            <span class="glyphicon glyphicon-heart-empty"></span>
        </button>
        <button ng-hide="!loggedIn || isFavorite(FirstPopularpoint)" ng-click="addToFavorites(FirstPopularpoint)" style="float: left">
            <span class="glyphicon glyphicon-heart"></span>
        </button>
    </div>
    <div class="row">
        <h3>
            point: {{SecondPopularpoint.name}}
        </h3>
        <p>
            Description: {{SecondPopularpoint.desc}} <br>
            Rank:{{SecondPopularpoint.rank}} <br>
            Num Of Viewers:{{SecondPopularpoint.numOfViewers}}<br>
            Category:{{SecondPopularpoint.category}}<br>
        </p>
        <img alt="" class="pic" src={{SecondPopularpoint.picture}} style="width:300px;height:200px;position:relative;left:20%">
        <button ng-show="loggedIn && isFavorite(SecondPopularpoint)" ng-click="removeFromFavorites(SecondPopularpoint)" style="float: left">
            <span class="glyphicon glyphicon-heart-empty"></span>
        </button>
        <button ng-hide="!loggedIn || isFavorite(SecondPopularpoint)" ng-click="addToFavorites(SecondPopularpoint)">
            <span class="glyphicon glyphicon-heart"></span>
        </button>
    </div>
    <div class="container">
        <div>
            <h1> Saved Points </h1> <br><br><br><br>
        </div>
        <div class="" ng-hide="showFirst">
            <h3>
                First point: {{FirstSavedpoint.name}}
            </h3>
            <p>
                Description: {{FirstSavedpoint.desc}} <br>
                Rank:{{FirstSavedpoint.rank}} <br>
                Num Of Viewers:{{FirstSavedpoint.numOfViewers}}<br>
                Category:{{FirstSavedpoint.category}}<br>
            </p>
        </div>
        <div class="" ng-hide="showFirst">
            <img alt="" class="pic" src={{FirstSavedpoint.picture}} style="width:300px;height:200px;position:relative;left:20%">
            <button ng-show="!showFirst && loggedIn && isFavorite(FirstSavedpoint)" ng-click="removeFromFavorites(FirstSavedpoint)" style="float: left">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </button>
            <button ng-hide="showFirst || !loggedIn || isFavorite(FirstSavedpoint)" ng-click="addToFavorites(FirstSavedpoint)" style="float: left">
                <span class="glyphicon glyphicon-heart"></span>
            </button>
        </div>

        <div class="" ng-hide="showSecond">
            <h3>
                Second point: {{SecondSavedpoint.name}}
            </h3>
            <p>
                Description: {{SecondSavedpoint.desc}} <br>
                Rank:{{SecondSavedpoint.rank}} <br>
                Num Of Viewers:{{SecondSavedpoint.numOfViewers}}<br>
                Category:{{SecondSavedpoint.category}}<br>
            </p>
        </div>
        <div class="" ng-hide="showSecond">
            <img alt="" class="pic" src={{SecondSavedpoint.picture}} style="width:300px;height:200px;position:relative;left:20%">
            <button ng-show="!showSecond && loggedIn && isFavorite(SecondSavedpoint)" ng-click="removeFromFavorites(SecondSavedpoint)" style="float: left">
                <span class="glyphicon glyphicon-heart-empty"></span>
            </button>
            <button ng-hide="showSecond || !loggedIn || isFavorite(SecondSavedpoint)" ng-click="addToFavorites(SecondSavedpoint)" style="float: left">
                <span class="glyphicon glyphicon-heart"></span>
            </button>
        </div>
    </div>
</div>