#welcomeHref{
    cursor: not-allowed;
    pointer-events: none;
}

footer {
    position: fixed;
    height: 20%;
    bottom: 0;
    width: 100%;
}

.thumbnail{
    width: 300px;
// or you could use percentage values for responsive layout
// width : 100%;
    height: 20%;
    overflow: auto;
}

.thumbnail img{
// your styles for the image
width: 100%;
    height: 20%;
    display: block;
}
