#welcomeHref{
    cursor: not-allowed;
    pointer-events: none;
}

footer {
    position: fixed;
    height: 60%;
    bottom: 0;
    width: 100%;
}

.thumbnail{
    width: 100%;
    min-height: 10%;
    max-height: 90%;
    float: right;
    margin: 3px;
    padding: 3px;
}

img {
    max-width: 100%;
    max-height: 50%;
    height: auto;
}
